#order_table thead{

  display: block;
  background-color: #eeeeee;
}
#order_table th{
  height: 45px;
}

#order_table tr{
  height: 40px;
}

#menu_items{
	overflow: auto;
	height: 500px;
}


th:nth-of-type(1), td:nth-of-type(1) { width:200px; } /*�޴�*/
th:nth-of-type(2), td:nth-of-type(2) { width:50; } /*����*/
th:nth-of-type(3), td:nth-of-type(3) { width:150px; }/*�ܰ�*/
th:nth-of-type(4), td:nth-of-type(4) { width:150px; }/*�հ�*/
/*tr:nth-child(even) { background: #eee; }*/

#order_table tbody{
  display: block;
  overflow: auto;
  height:350px;
}

#order_table{

margin: 5px;
}


.sidenav {
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
/*    background-color: #000000;*/

    overflow-x: hidden;
  /*  padding-top: 100px;*/
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ff3838;

    display: block;
    font-style: bold;
}


.sidenav a:hover,
.sidenav a:hover {
  color: #ffffff !important;
  background-color: #eb0000 !important;
  border-color: #eb0000 !important;
}
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#fontweight4 {font-weight: bolder;}

.col.custom-col{
  margin: 10px;;
  border-radius: 5px;
  border-color: #ffffff;
  color: black;
  padding: 10px;
  background-color: #eeeeee;
}

.menu-item{
  margin: 30px;;
  border-radius: 5px;
  border-color: #ffffff;
  color: black;
  padding: 10px;
  background-color: #eeeeee;
}


div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ }

/* [5] */
.scroll::-webkit-scrollbar {
  display: none; }
